
.bgwhite {
	background-color: white;
}

.bggray {
	background-color: gray;
}

* {
	color: gray;
}


/*HEADER*/

.txtwhite {
	color: white;
}

header {
	background-color: #1C2833;
	padding: 2% 0;
}

.fs32 {
	font-size: 36px;
}

.icono {
	font-weight: 900;
	font-style: bolder;
}

.pink {
	color: #EC407A;
}

nav {
	padding: 5px;

}

ul{
	text-align: center;
	float: right;
}

li{
	list-style-type: none;
	float: left;
	color: white;
	padding: 5px;
}

a{
	text-decoration: none;
	color: white;
}

/*HEAD*/

.head {
	padding: 50px; 
	border-bottom: 5px dotted gray; 
	background-color: white;
}

head h1 {
	padding: 5% 0px;
	margin-top: 20px;
}

head p {
	padding: 5% 0px; 
	margin-top: 20px;
	margin-bottom: 50px;
}

head img {
	width: 100%;
	height: 300px;
}

/* Checar por qué no funcionan margin y padding*/

.boton {
	padding: 8px;
	height: 30px;
	width: 100px;
	background-color: gray;
	color: white;
	border-radius: 30px;
	text-align: center;
}

.botonread {
	padding: 8px;
	height: 30px;
	width: 100px;
	background-color: gray;
	color: white;
	border-radius: 30px;
	text-align: center;
	margin-left: 120px;
}


/* PROJECTS*/


.grid {
	padding: 5%;
	display: inline-block;
	/* Ponerlo en gris!! */
	grayscale: 100%;
}

.pd5 {
	padding: 5%;
}

.projects ul {
	float: left;
}

.projects .col-10 {
	margin-top: 30px;
}

.txtgray {
	color: gray;
}

/* IMG PROJECTS */

.imgprojects .col-6 {
	margin-top: 50px;
}

.imgproj {
	position: center;
	padding: 0px 35px;
}

.mgt15 {
	margin-top: 15px;
}

.imgprojects img {
	width: 100%
}

.load {
	padding: 100px 45%;
	position: center;
	border-bottom: dotted 2px gray;
} 

/* FOLLOW */

.follow {
	padding: 5%;

}

.larry {
	width: 100px;
	height: 100px;
	
}

.follower {
	padding: 0 10%;
}

.botonf {
	padding: 5px;
	height: 20px;
	width: 60px;
	background-color: gray;
	color: white;
	border-radius: 10px;
	text-align: center;
	font-size: 12px;
	position: center;
	text-align: center;
}

/* FOOTER */

.foot {
	background-color: #1C2833;
	padding: 3%;
}

.icon {
	display: inline-block;
	border-radius: 50%;
	border: gray 1px dashed;
	width: auto;
	height: auto;
	padding: 5px;

}
.fs18 {
	font-size: 24px;
}

.pt1 {
	border-bottom: 1px dotted gray;
}

.iconimg {
	float: right;
	display: inline-block;
	padding: 15%;
}

.text-bold {
	font-weight: bold;
}

.fll {
	float: left;
}

.mgb {
	margin-bottom: 25px;
}

.mgt {
	margin-top: 25px;
}

.mg15 {
	margin: 15px;
}

/* DATOS */

.datos {
	padding: 3% 0;
}

.brb {
	border-bottom: dotted 1px gray;
}

.fs40 {
	font-size: 40px;
}

.text-gray2 {
	color: #E0E0E0;
}

.inline {
	display: inline-block;
}

.boton1 {
	width: auto;
	height: auto;
	padding: 5px;
	text-align: center;
	background-color: #EC407A;
	font-size: 12px;
	border-radius: 20px;
	color: #E0E0E0;
}

.gray {
	color: gray;
}

.rotate {
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg); 
    transform: rotate(180deg);
}

form {
	box-sizing: border-box;
	margin: 0 60px;
}

input {
	width: 100px;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 12px;
	display: inline-block;
	background-color: #212121;
	border: 2px outset #37474F;
	box-decoration-break: inset;
}

#boton:hover {
	cursor: pointer;
}

* {
	font-family: fuente1;
}

footer {
	font-size: 12px;
}

.navfoot {
	padding: 0 30px;
}


@media (min-width: 1200px) {
  col-lg-6,  {
    float: left;
  }
   .col-lg-6 {
    width: 100%;
  }
}

.form-control {
  display: block;
  width: 300px;
  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #E0E0E0;
  background-color: #212121;
  background-image: none;
  border: 1px outset #37474F;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;  
  line-height: 1.42857143;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px outset #37474F;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-default {
  color: #E0E0E0;
  background-color: #212121;
  border: outset 1px #37474F;
}
.btn-default:hover {
  color: #E0E0E0;
  background-color: #EC407A;
  border-color: #37474F;
}

.btn-default.active{
  color: #E0E0E0;
  background-color: #EC407A;
  border-color: #37474F;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group .form-control:first-child,
.input-group-btn:first-child > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-btn:last-child > .btn
{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-btn > .btn {
  position: relative;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: -1px;
}